@media screen and (min-width: 768px) and (max-width: 1024px) {
	.homepage__bg {
		width: 110vw;
	}
	.weather-logo {
		width: 150px;
		height: 150px;
		position: absolute;
		max-width: 200px;
		top: -20vw;
		left: -70vw;
	}
	.corona-logo {
		width: 150px;
		height: 150px;
		position: absolute;
		max-width: 200px;
		top: -20vw;
		left: -40vw;
	}
}
@media screen and (min-width: 450px) and (max-width: 767px) {
	.route__form:nth-child(2) {
		top: 70px;
		left: 0px;
	}
	.weather-logo {
		width: 150px;
		height: 150px;
		position: absolute;
		max-width: 200px;
		top: -20vw;
		left: -70vw;
	}
	.corona-logo {
		width: 150px;
		height: 150px;
		position: absolute;
		max-width: 200px;
		top: -20vw;
		left: -40vw;
	}
}
@media screen and (min-width: 280px) and (max-width: 449px) {
	.homepage__bg {
		height: 110vh;
		width: 110vw;
	}
	.route__form:nth-child(2) {
		top: 70px;
		left: 0px;
	}
	.weather-logo {
		width: 150px;
		height: 150px;
		position: relative;
		max-width: 200px;
		top: -50vw;
		left: 10vw;
	}
	.corona-logo {
		width: 150px;
		height: 150px;
		position: relative;
		max-width: 200px;
		top: 5vw;
		left: -30vw;
	}
}
