@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', serif;
}
.container {
	width: 1000px;
}
.homepage__bg {
	background-color: rgb(23, 238, 225, 20);
	min-height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.route__form {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	position: relative;
}
.corona-logo {
	width: 200px;
	height: 200px;
	position: absolute;
	max-width: 200px;
	top: -200px;
	left: -300px;
}
.weather-logo {
	width: 200px;
	height: 200px;
	position: absolute;
	max-width: 200px;
}
.route__form:nth-child(2) {
	top: 100px;
	left: 10px;
}
.route__form > button {
	text-decoration: none;
	color: rgb(240, 40, 40);
	display: inline-block;
	position: relative;
	padding: 15px 30px;
	border: 1px solid;
	border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	border-image-slice: 1;
	margin: 10px 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 2px;
	transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.route__form > button:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	color: white;
	background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
	transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.route__form > button:hover {
	background: rgba(255, 255, 255, 0);
}
.route__form > button:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
.wrapper {
	background: linear-gradient(to right, #e67e22, rgb(10, 10, 238));
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	position: relative;
	height: 90vh;
	background: #fff;
	box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
	margin: 0 auto;
}

.title-container {
	height: 90vh;
	background: url('https://c.tenor.com/uToSLPDUN44AAAAC/lightning-nature.gif')
		center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
}

.title-container__title {
	font-size: 50px;
	letter-spacing: 2px;
	line-height: 1.3;
	font-family: 'Roboto Slab', serif;
	padding-top: 350px;
	color: white;
}

.form-container {
	background-color: #4ad6e9;
	height: 90vh;
	padding-top: 50px;
	padding-left: 50px;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 30px #4ad6e9 inset;
	-webkit-box-shadow: 0 0 0 30px #4ad6e9 inset;
	-webkit-text-fill-color: rgb(240, 40, 40) !important;
}

.form {
	display: flex;
	justify-content: center;
}
.rain-color {
	margin-left: 10px;
	color: rgb(52, 53, 56);
}
.sun-color {
	margin-left: 10px;
	color: rgb(233, 236, 35);
}
.cloud-color {
	margin-left: 10px;
	color: rgb(30, 70, 179);
}
input[type='text'] {
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px #27886b;
	width: 30%;
	padding-bottom: 4px;
	color: #f16051 !important;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-right: 20px;
	font-size: 20px;
	outline: none;
}

input:active {
	background-color: none;
}
.form__button__weather {
	border: 0;
	padding: 8px 20px;
	margin: 0 2px;
	border-radius: 2px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
	cursor: pointer;
	background-color: #27886b;
	color: #fff;
}

.form__button__weather:active {
	outline: none;
}

.weather__info {
	width: 60%;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.weather__key {
	color: #f16051;
	border-bottom: solid 2px rgba(255, 255, 255, 0.06);
	padding: 20px 0 20px 0;
	font-weight: bold;
}

.weather__key:last-child {
	border: 0;
}

.weather__value {
	color: #27886b;
	font-weight: bold;
}

.weather__error {
	color: #f16051;
	font-size: 19px;
	letter-spacing: 1px;
	font-weight: bold;
}
.row {
	display: flex;
}
.btn-prev {
	position: absolute;
	right: 10px;
}
